@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --1: 5px;
    --2: 10px;
    --3: 15px;
    --4: 20px;
    --5: 25px;
}

* {
    box-sizing: border-box;
    font-family: "Chocolate Classical Sans", sans-serif;
    outline: 2px solid rgb(84, 84, 255);
}

a {
    cursor: pointer;
}

img {
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

i { font-style: normal; }
button { 
    border: none;
    color: black;
    background: white;
 }

.span {
    text-align: center;
}

.d-block { display: block; }
.d-none { display: none; }
.row-y-center {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.w-100 { width: 100%; }

.container {
    width: 95%;
    height: auto;
    margin: 0 auto;
}

.f-row {
    display: flex;
    flex-direction: row;
}
.f-col {
    display: flex;
    flex-direction: column;
}

.f-sb {
    justify-content: space-between;
}
.f-aic {
    align-items: center;
}

.d-grid { display: grid; }

.m-nav {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0;
}

.t-y-center {
    display: flex;
    align-items: center;
}

.t-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn { cursor: pointer; }